parameters:
    level: 9
    treatPhpDocTypesAsCertain: false
    #checkGenericClassInNonGenericObjectType: false

    #bootstrapFiles:
        # Prevent PHPUnit\Framework\TestCase from being reported as not found
    #    - vendor/bin/.phpunit/phpunit/vendor/autoload.php

    paths:
        - src
        - tests
